# ===== Cliente 1 =====
CLIENTE_1_NOME=cliente-a
CLIENTE_1_EMAIL=login@clientea.com.br
CLIENTE_1_SENHA=sua_senha_aqui
CLIENTE_1_DOMINIO=xsite.com.br

# ===== Cliente 2 =====
CLIENTE_2_NOME=cliente-b
CLIENTE_2_EMAIL=login@clienteb.com.br
CLIENTE_2_SENHA=sua_senha_aqui
CLIENTE_2_DOMINIO=outrodominio.com.br